<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu360.ilearn.mapper.ContentMapper">

    <resultMap type="com.edu360.ilearn.entity.Content" id="content_result_map">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="duration" column="duration"/>
        <result property="state" column="state"/>
        <result property="vdAddr" column="vd_addr"/>
    </resultMap>

    <resultMap type="com.edu360.ilearn.Vo.HistoryVo" id="history_result_map">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="contentId" column="content_id"/>
        <result property="contentTitle" column="title"/>
        <result property="datetime" column="datetime"/>
    </resultMap>

    <select id="getVedioList" parameterType="Integer" resultMap="content_result_map">
        SELECT content.id,content.title,content.duration,content.state FROM content,course_content WHERE course_content.course_id = #{courseId} AND course_content.content_id=content.id
    </select>

    <select id="getVedio" parameterType="Integer" resultMap="content_result_map">
        SELECT * FROM content WHERE id = #{contentId}
    </select>

    <insert id="setHistory" parameterType="com.edu360.ilearn.Vo.HistoryVo">
        INSERT INTO history_tab (id, user_id, course_id, content_id, datetime) VALUES (null, #{userId}, #{courseId}, #{contentId}, #{datetime})
    </insert>

    <select id="getHistoryById" parameterType="Integer" resultMap="history_result_map">
        SELECT history_tab.*,course.course_name,content.title FROM history_tab,course,content WHERE history_tab.user_id = #{userId} AND history_tab.course_id = course.id AND history_tab.content_id = content.id
    </select>

    <select id="findAllByCourseId" parameterType="Integer" resultMap="content_result_map">
        SELECT content.* FROM course_content,content WHERE course_content.course_id = #{courseId} AND course_content.content_id = content.id
    </select>

    <update id="updateContent" parameterType="com.edu360.ilearn.entity.Content">
        UPDATE content SET state = #{state} WHERE id = #{id}
    </update>

    <update id="updateContent2" parameterType="com.edu360.ilearn.entity.Content">
        UPDATE content SET title = #{title},duration = #{duration},vd_addr = #{vdAddr} WHERE id = #{id}
    </update>

    <insert id="insertContent" parameterType="com.edu360.ilearn.entity.Content" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO content (id, title, duration, vd_addr,state)
        VALUES (null, #{title}, #{duration}, #{vdAddr},0)
    </insert>
    <insert id="connectTwo" parameterType="com.edu360.ilearn.entity.CourseContent">
        INSERT INTO course_content (id, course_id, content_id)
        VALUES (null, #{courseId}, #{contentId})
    </insert>
</mapper>
