<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu360.ilearn.mapper.CourseMapper">

    <resultMap type="com.edu360.ilearn.entity.Course" id="course_result_map">
        <id property="id" column="id"/>
        <result property="courseName" column="course_name"/>
        <result property="picAddr" column="pic_addr"/>
        <result property="userId" column="user_id"/>
        <result property="userNickName" column="user_nickName"/>
        <result property="intro1" column="intro1"/>
        <result property="intro2" column="intro2"/>
        <result property="intro3" column="intro3"/>
        <result property="mark" column="mark"/>
        <result property="time" column="time"/>
        <result property="type" column="type"/>
        <result property="cost" column="cost"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="detail" parameterType="Integer" resultMap="course_result_map">
        SELECT * FROM course WHERE status = 0 and id = #{courseId}
    </select>

    <select id="doSearch" parameterType="String" resultMap="course_result_map">
        SELECT * FROM course WHERE status = 0 and course_name LIKE CONCAT(CONCAT('%', #{searchContent}), '%')
    </select>

    <select id="doType" parameterType="String" resultMap="course_result_map">
        SELECT * FROM course WHERE status = 0 and type = #{type}
    </select>

    <select id="getFavouriteByuserId" parameterType="Integer" resultMap="course_result_map">
        SELECT course.* FROM course,favourite_tab where status = 0 and favourite_tab.user_id = #{userId} AND course.id = favourite_tab.course_id
    </select>

    <insert id="intoFavourite" parameterType="com.edu360.ilearn.Vo.FavouriteVo">
        INSERT INTO favourite_tab (id, user_id, course_id, datetime) VALUES (null, #{userId}, #{courseId}, #{datetime})
    </insert>

    <delete id="outFavourite" parameterType="com.edu360.ilearn.Vo.FavouriteVo">
        DELETE FROM favourite_tab WHERE user_id = #{userId} AND course_id = #{courseId}
    </delete>

    <select id="findAll" parameterType="String" resultMap="course_result_map">
        SELECT * FROM course WHERE (course_name like CONCAT(CONCAT('%', #{search}), '%') OR user_nickName like CONCAT(CONCAT('%', #{search}), '%'))
    </select>

    <update id="updateCourse" parameterType="com.edu360.ilearn.entity.Course">
        UPDATE course SET status = #{status} WHERE id = #{id}
    </update>

    <update id="updateCourse2" parameterType="com.edu360.ilearn.entity.Course">
        UPDATE course SET course_name = #{courseName},type = #{type},intro1 = #{intro1},intro2 = #{intro2},intro3 = #{intro3},cost = #{cost} WHERE id = #{id}
    </update>

    <insert id="insertCourse" parameterType="com.edu360.ilearn.entity.Course">
        INSERT INTO course (id, course_name, user_id, user_nickName,intro1,intro2,intro3,mark,time,type,cost,status)
                    VALUES (null, #{courseName}, #{userId}, #{userNickName},#{intro1}, #{intro2}, #{intro3},#{mark}, #{time}, #{cost},0)
    </insert>
</mapper>
