<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu360.ilearn.mapper.UserMapper">

    <resultMap type="com.edu360.ilearn.entity.User" id="user_result_map">
        <id property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
        <result property="nickName" column="nickname"/>
        <result property="stage" column="stage"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="status" column="status"/>
        <result property="oriDate" column="ori_date"/>
        <result property="points" column="points"/>
    </resultMap>

    <resultMap type="com.edu360.ilearn.entity.Course" id="course_result_map">
        <id property="id" column="id"/>
        <result property="courseName" column="course_name"/>
        <result property="picAddr" column="pic_addr"/>
        <result property="userId" column="user_id"/>
        <result property="userNickName" column="user_nickName"/>
        <result property="intro1" column="intro1"/>
        <result property="intro2" column="intro2"/>
        <result property="intro3" column="intro3"/>
        <result property="mark" column="mark"/>
        <result property="time" column="time"/>
        <result property="type" column="type"/>
        <result property="points" column="points"/>
    </resultMap>

    <resultMap type="com.edu360.ilearn.Vo.UserVo" id="userVo_result_map">
        <id property="id" column="id"/>
        <result property="newDate" column="new_date"/>
    </resultMap>

    <select id="findOne" parameterType="com.edu360.ilearn.entity.User" resultMap="user_result_map">
        SELECT * FROM user WHERE username = #{userName} AND password = #{password} AND status!= 3
    </select>

    <insert id="register" parameterType="com.edu360.ilearn.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (id, username, password, nickname, stage, phone_num, status, ori_date) VALUES (null, #{userName}, #{password}, #{nickName}, #{stage}, #{phoneNum}, #{status}, #{oriDate})
    </insert>

    <update id="password" parameterType="com.edu360.ilearn.Vo.PasswordVo">
        UPDATE user SET password = #{newpd} WHERE id = #{userId} and password = #{oldpd}
    </update>

    <select id="findinfo" parameterType="Integer" resultMap="user_result_map">
        SELECT * FROM user WHERE id = #{userId}
    </select>

    <select id="findAllByStatus" parameterType="Integer" resultMap="user_result_map">
        SELECT * FROM user WHERE status = #{num}
    </select>

    <select id="findAll" parameterType="String" resultMap="user_result_map">
        SELECT * FROM user WHERE stage = 0 and (userName like CONCAT(CONCAT('%', #{search}), '%') OR nickName like CONCAT(CONCAT('%', #{search}), '%'))
    </select>

    <update id="updateUser" parameterType="com.edu360.ilearn.entity.User">
        UPDATE user SET status = #{status} WHERE id = #{id}
    </update>

    <update id="updatePoints" parameterType="com.edu360.ilearn.entity.User">
        UPDATE user SET points = #{points} WHERE id = #{id}
    </update>

    <select id="getOrder" parameterType="Integer" resultMap="course_result_map">
        SELECT course.* FROM course,order_tab WHERE order_tab.user_id = #{id} and order_tab.course_id = course.id ORDER BY order_tab.id DESC
    </select>

    <select id="getUserVo" parameterType="com.edu360.ilearn.entity.User" resultMap="userVo_result_map">
        SELECT update_user.id,update_user.new_date FROM update_user where id = #{id}
    </select>

    <insert id="addOrder" parameterType="com.edu360.ilearn.Vo.OrderVo">
        INSERT INTO order_tab (id, user_id, course_id, datetime) VALUES (null, #{userId}, #{courseId}, #{datetime})
    </insert>

    <update id="editinfo" parameterType="com.edu360.ilearn.entity.User">
        UPDATE user SET phone_num = #{phoneNum},nickname = #{nickName} WHERE id = #{id}
    </update>

</mapper>
